<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>19640AA2-79DB-498F-A741-B89FDC1D0229</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B535E4B3-7F48-41D6-B5F5-59F1BABAC0B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Riechers</string>
	<key>description</key>
	<string>Add paper to research repository.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New BFI Research</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://econresearch.uchicago.edu/node/add/research</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B535E4B3-7F48-41D6-B5F5-59F1BABAC0B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bfiresearch</string>
				<key>text</key>
				<string>Create new paper in research repository</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19640AA2-79DB-498F-A741-B89FDC1D0229</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>19640AA2-79DB-498F-A741-B89FDC1D0229</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B535E4B3-7F48-41D6-B5F5-59F1BABAC0B8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
