<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>667625E3-8575-4799-9786-DBC6628C6D39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Use keyword "IA" and type URL to search history.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Internet Archive</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ia</string>
				<key>subtext</key>
				<string>Use keyword "IA" to open a search on Internet Archive</string>
				<key>text</key>
				<string>Search on archive.org for {URL}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://web.archive.org/web/*/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>667625E3-8575-4799-9786-DBC6628C6D39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Say hi to this guys -&gt; @iKasch</string>
	<key>uidata</key>
	<dict>
		<key>667625E3-8575-4799-9786-DBC6628C6D39</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>F8C5D133-7C4D-44F2-845B-FAE1568A09E7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
