<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>D6554AA3-3A6D-4A5C-AEDD-C01953801DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66165227-40C8-4E89-B362-0C0EDCCB5794</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Find businesses, bars, restaurants, etc.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chicago Foursquare Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>foursquare</string>
				<key>text</key>
				<string>Search Foursquare in Chicago</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6554AA3-3A6D-4A5C-AEDD-C01953801DA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://foursquare.com/explore?mode=url&amp;near=Chicago%2C%20IL&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>66165227-40C8-4E89-B362-0C0EDCCB5794</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>66165227-40C8-4E89-B362-0C0EDCCB5794</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D6554AA3-3A6D-4A5C-AEDD-C01953801DA2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>foursquare.come</string>
</dict>
</plist>
